*{
    margin: 0px;
}
.header{
    background: blue;
    display: flex;
    justify-content: space-between;
    padding: 5px 5%;
    height: 70px;
}
.header-left{
    display: flex;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
li img {
    width: 25px;
}
.header-right{
    display: flex;
    gap:20px;
}
.search-box{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}
.search-box input{
    border-radius: 50px;
    height: 25px;
    text-indent: 22px;
    width: 250px;
}
.search-box img{
    position: absolute;
    width: 17px;
    left:5px;
    margin-top: 4px;
}
.avatar img{
    border-radius: 50%;
    width: 45px;
    margin-top: 12px;
}
.avatar{
    position: relative;
}
.online::after{
    content: "";
    width: 10px;
    height: 10px;
    background:rgb(54, 224, 12);
    position: absolute;
    border-radius: 50px;
    right:1px;
    top: 15px;
}
.main{
    background: rgb(235, 231, 223);
    padding: 5px 5%;
    display: flex;
    gap: 20px;
}
.main-left, .main-right{
    width: 25%;
    border-radius: 5px;
    background: rgb(214, 205, 187);
    padding: 10px;
}
.main-center{
    width: 50%;
}
.main-left-top{
    display: flex;
    gap: 20px;
    padding: 10px;
}
.main-left-top img{
    width: 60px;
}
.main-left-top p{
    display: flex;
    align-items: center;
}
.story-gallery{
    display: flex;
    gap: 20px;
}
.story-gallery .story{
    position: relative;
    width: 20%;
}
.story-gallery .avatar{
    width: 100%;
    border-radius: 10px;
}
img.avatar {
    height: 265px;
}
img.avatar-feed{
    position: absolute;
    border: 3px solid blue;
    border-radius:  50%;
    width: 55px;
    top: 10px;
    left: 20px;
}
img.upload-img{
    cursor: pointer;
    position: absolute;
    left: 34%;
    top: 160px;
    width: 50px;
}
.story p{
    position: absolute;
    top: 230px;
    left: 33%;
    color:white;
    font-size: 20px;
}
.upstory{
    margin-top: 20px;
    background: rgb(185, 192, 148);
    border-radius: 10px;
}
.upstory.avatar{
    width: 100%;
    border-radius: 10px;
}
.box1{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    padding: 5px 5%;
}
.box1 p{
    margin-top: 40px;
    font-size: 25px;

}
.box1 img{
    width: 55px;
    border-radius: 50%;
}
.box2 textarea{ 
    font-size: 20px;
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    display: flex;
    justify-content: center;
}
.box2{
    margin-left: 100px;
    width: 70%;
}
textarea {
    border-radius: 20px;
    width: 70%;
}
.box2-bottom {
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
}

.box3 {
    width: 100%;
    display: flex;
    gap: 20px;
    padding:10px;
}

.box3 img {
    width: 23%;
}

.box3 p {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.alex-header{
    padding: 20px;
    display: flex;
}
.alex-header img {
    width: 53px;
    height: 53px;
    border-radius: 50%;
}

.post-status {
    margin-top: 20px;
    border-radius: 10px;
    background: rgb(216, 219, 184);
}
.alex-center p {
    /* display: flex; */
    width: 100%;
}
.alex-bottom {
    display: flex;
    justify-content: space-between;
}
.alex-center {
    /* text-align: center; */
    width: 90%;
    margin-left: 87px;
}
.alex-center img{
    width: 88%;
}
.alex-icon {
    display: flex;
    padding: 50px;
    gap: 20px;
    margin-left: 70px;
}
.alex-avatar img {
    width: 36px;
    padding: 50px;
    margin-right: 53px;
    border-radius: 50%;
}
.icon1 {
    display: flex;
    align-items: center;
    gap: 12px;
}
.icon1 img {
    /* font-size: 30px; */
    width: 30px;
}
.event-link{
    display: flex;
    justify-content: space-between;
}
.events{
    gap: 20px;
    padding-top: 20px;
    width: 100%;
    display: flex;
}
.events-left{
    text-align: center;
    /* padding-top: 10px; */
    width: 100px;
    height: 75px;
}
.month{
    padding: 3px 0;
    width: 100%;
    text-align: center;
    color: white;
    background: blue;
    border-radius: 0 0 20px 20px;
    bottom: 0px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.number{
    background: white;
    height: 70px;
    border-radius: 20px 20px 0 0;
    width: 100%;
}
.number p{
    padding-top: 20px;
}
.events-right {
    padding-top: 10px;
}
.events-bottom{
    display: flex;
    gap:20px;
    margin-top: 50px;
}
.advertisement {
    margin-top: 60px;
    justify-content: space-between;
    display: flex;
    
}
.adver-img img {
    width: 100%;
    border-radius: 14px 10px 10px 10px;
    padding-top: 26px;
    /* border-radius: 14px 10px 10px 10px; */
    border-radius: 50px;
}
.online-chat {
    display: flex;
    gap: 25px;
    padding: 20px;
    margin-top: 25px;
    align-items: center;
}
.online-x{
    position: relative;
}
.online-x .online{
    position: absolute;
    left: 60px;
    top: 39px;
}
.online-chat img {
    width: 67px;
    border-radius: 50%;
}
.banner{
    padding: 10px 15%;
}
.banner img{
    width: 100%;
    border-radius: 10px;
}
.jack{
    padding: 10px 15%;
}
.avatars{
    background: rgb(233, 228, 220);
    justify-content: space-between;
    display: flex;
    border-radius: 10px;
}
.jack-left{
    display: flex;
}
.avatar-profile img{
    height: 180px;
    width: 180px;
    border-radius: 30px;
    padding: 20px;
}
.friend{
    gap: 5px;
    margin: 5px 0px 0px 5px;
}
.friend img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 20px;
}
.nichoson{
    padding-top: 11px;
}
.nichoson p{
    padding: 5px;
}
.jack-right{
    gap: 20px;
}
.friends {
    height: 50px;
    border: 1px solid rgb(235 231 223);
    display: flex;
    border-radius: 5px;
}
.friends img {
    height: 50px;
}
.friends p {
    display: flex;
    align-items: center;
    font-size: 29px;
}
.button-left{
    background: wheat;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 20px;
}
.button-right{
    background:blue;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.bottom{
    display: flex;
    gap: 20px;
    padding: 5px 15%;
}

.intro a {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.left-top {
    padding: 10px;
    border-radius: 10px;
    background: wheat;
    width: 100%;
}

.intro-icon {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.intro-icon p {
    align-items: center;
    display: flex;
}
.photo-top {
    display: flex;
    justify-content: space-between;
}

.photo-center {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.photo-bottom {
    display: flex;
}

.photo-center img {
    width: 107px;
    border-radius: 20px;
}
.photo-botton {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.photo-botton {
    display: flex;
}

.photo-botton img {
    width: 107px;
    border-radius: 20px;
}
.left-center {
    margin-top:20px;
    padding: 10px;
    border-radius: 10px;
    background: wheat;
    width: 100%;
}
.left-button {
    margin-top:20px;
    padding: 10px;
    border-radius: 10px;
    background: wheat;
    width: 100%;
}
.left-img {
    display: flex;
    gap: 20px;
}

.left-img img {
    border-radius: 29px;
    width: 81px;
    padding: 19px;
}

.left-img p {
    display: flex;
    justify-content: center;
}
.left-friend {
    display: flex;
    justify-content: space-between;
}
.bottom-right{
    padding: 20px;
    width: 70%;
    margin-top: -37px;
}