.box{
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    margin: auto;
    padding: 20px;
}
.box input {
    width: 85%;
    margin: 10px 10px;
    padding: 9px;
    border-radius: 5px;
    border: none;
    /* border: 1px solid blue; */
    background: rgb(133, 235, 248);
}
.dangnhap button {
    width: 80%;
    height: 41px;
    border-radius: 5px;
    border: none;
    background: blue;
    /* content: close-quote; */
    color: white;
    margin: 10px 10px;
    cursor: pointer;
}
.dangnhap:hover button{
    background: rgb(115, 115, 189);
}
.quenmk{
    padding: 20px;
}
.quenmk a {
    text-decoration: none;
}
.taotk button {
    width: 50%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background: rgb(0, 255, 64);
    /* content: close-quote; */
    color: white;
    margin: 10px 10px;
    cursor: pointer;
}